.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1.25vw 0;
    z-index: 1;
    transition: all .5s;
}

.header.scrollou {
    background-color: rgba(25, 25, 25, 0.85);
    /* padding: 1.2vw 0; */
    /* border-bottom: var(--borda);
    padding: 1vw 0; */
}

.header_itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header_itens .itens:not(.opcoes .itens) {
    margin: 0 3.5vw;
}

.header_itens a {
    text-align: center;
    text-decoration: none;
}

.header_itens .texto {
    transition: .25s;
    font-weight: 300;
}

.header_itens .texto:hover,
.header_itens .texto.claro.scrollou:hover,
.header_itens .texto.claro:hover {
    color: #e4b7a0;
}


.header_itens .texto.claro {
    font-weight: 500;
    color: rgb(22, 22, 22);
}

/* continuar perto */
.header_itens .texto.claro.scrollou {
    font-weight: 300;
    color: #c9c2c0;
}


/* logo */
.logo {
    position: absolute;
    right: 1.5vw;
}

/* menu */
.botao {
    position: absolute;
    right: 1.5vw;
    z-index: 2;
    width: 3.5vw;
    height: 3.5vw;
    transform: scaleX(-1);
}

.clic_js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#menu_input {
    display: none;
}

.botao .barras {
    position: absolute;
    background-color: var(--cor-texto);
    height: .25vw;
    border-radius: 1vw;
    transition: all 1s;
    margin-left: .75vw;
}

.botao .barras.scrollou {
    background-color: #c9c2c0;
}

.barras:nth-child(1) {
    width: 2.35vw;
    top: .875vw;
}

input[type="checkbox"]:checked~ .header .barras:nth-child(1) {
    transform: rotate(45deg) translate(.4vw, .65vw);
    background-color: #c9c2c0;
    width: 2.35vw;
}

.barras:nth-child(2) {
    width: 1.85vw;
    top: 50%;
    translate: 0 -50%;
    transition: .75s;
}

input[type="checkbox"]:checked~.botao .barras:nth-child(2) {
    background: transparent;
}


.barras:nth-child(3) {
    width: .85vw;
    bottom: .875vw;
}

input[type="checkbox"]:checked~.botao .barras:nth-child(3) {
    transform: rotate(-45deg) translate(.4vw, -.65vw);
    width: 2.35vw;
    background-color: #c9c2c0;
}

/* configuração */

.configuracao {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(calc(100% + .2vw));
    height: 100%;
    z-index: 1;
    transition: .75s;
    border-left: var(--borda-menu);
    background-color: rgba(25, 25, 25, 0.85);
    width: 24vw;
}

input[type="checkbox"]:checked~ .configuracao {
    transform: translateX(0)
}

.configuracao .subtitulo {
    font-size: calc(var(--font-size-js) * 1.5vw);
    font-weight: 500;
    margin: 1.5vw 0 1.25vw 0;
    text-align: center;
    color: #EBCCBB;
}

.opcoes .itens {
    position: relative;
    border-bottom: var(--borda-menu);
    border-top: var(--borda-menu);
    width: 100%;
    padding: 1vw;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
}

.opcoes .itens:hover {
    background-image: linear-gradient(to left, #ebccbbe3 -25%, #ebccbb00 90%);
}

.opcoes .texto.claro{
    color:#c9c2c0;
    font-weight: 400;
}

.num {
    position: absolute;
    right: 4.5vw;
}

.progress {
    position: relative;
    left: calc(50% - 1vw) ;
    transform: translateX(-50%);
    margin: .75vw 0 .5vw 0;
    width: 20vw;
    -webkit-appearance: none;
    appearance: none;
}

.progress::-webkit-slider-runnable-track {
    background-color: #ffffff;
    height: .1vw;
    -webkit-appearance: none;
    appearance: none;
}

.progress::-webkit-slider-thumb {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-appearance: none;
    appearance: none;
    width: .9vw;
    height: .9vw;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    
  }

.bnt_reset{
    position: relative;
    left: calc(50% - 1vw);
    transform: translateX(-50%);
    background-color: transparent;
    color: #e4b7a0;
    border-radius: .25vw;
    border: .01vw solid #e4b7a0;
    padding: .25vw 2vw;
    font-weight: 500;
    transition: .75s ease-in-out;
}

.bnt_reset:hover{
    transform: translateX(-50%) scale(1.05);
}

/* config tema */


/* config font-size */
/* tablet */
/* @media (max-width: 850px) {
    .template {
        background-color: red;
    }
} */

/* celular  */
@media (max-width: 500px) {
    .header {
        padding: 0;
        height: 14.5vw;
        background-color: #191919;
        z-index: 2;
    }
    

    .header.scrollou{
        background-color: #191919;
    }
    
    .header_itens .itens:not(.opcoes .itens, .header_itens .itens:nth-child(5)) {
        display: none;
    }
    
    .botao {
        right: 4vw;
        width: 7vw;
        height: 6.5vw;
    }
    
    .botao .barras {
        height: .5vw;
    }
    
    .barras:nth-child(1) {
        width: 7vw;
    }
    
    input[type="checkbox"]:checked~.botao .barras:nth-child(1) {
        transform: rotate(45deg) translate(.4vw, .65vw);
        width: 7vw;
    }
    
    .barras:nth-child(2) {
        width: 4.5vw;
    }
    
    .barras:nth-child(3) {
        width: 2vw;
    }
    
    input[type="checkbox"]:checked~.botao .barras:nth-child(3) {
        transform: rotate(-45deg) translate(.4vw, -.65vw);
        width: 7vw;
    }
    
    .configuracao {
        top: 15.01vw;
        transform: translateY(-100%);
        height: auto;
        z-index: 1;
        border-left: none;
        border-bottom: var(--borda-menu);
        background-color: #191919;
        width: 100%;
    }
    
    input[type="checkbox"]:checked~ .configuracao {
        transform: translateY(-1%)
    }
    
    .configuracao .subtitulo {
        font-size: calc(var(--font-size-js) * 3.75vw);
        margin: 0 0 2.5vw 0;
    }
    
    .opcoes .itens {
        padding: 3vw 10vw;
    }
    
    .num {
        right: 30vw;
    }
    
    .progress {
        left: calc(50% - 10vw) ;
        margin: 3.5vw 0 2vw 0;
        width: 60vw;
    }
    
    .progress::-webkit-slider-thumb {
        width: 1.5vw;
        height: 1.5vw;
      }
    
    .bnt_reset{
        left: calc(50% - 10vw);
        padding: .5vw 5vw;
    }
} 

/* ultra wide */
/* @media (min-width: 1440px ) and (max-height: 550px){
    .template {
        background-color: rgb(12, 245, 90);
    }
} */