/* exemplos de ações sustentaveis */

.ex_acoes {
    position: relative;
    padding:  2vw 12vw;
    text-align: center;
    background-color: var(--cor-segundaria);
}

.ex_acoes .lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1.5vw;
    grid-row-gap: 3vw;
}

/* benefcios */

.benefcios {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
    background-color: var(--cor-segundaria);
}

.benefcios .conteudo{
    width: 35vw;
}

.benefcios img {
    margin-left: 5vw;
    width: calc(var(--tamanho-img) * 22.5vw);
}

/* tablet */
/* @media (max-width: 850px) {
    .template {
        background-color: red;
    }
} */

    /* celular  */
@media (max-width: 500px) {

    .benefcios {
        padding: 3vw 0;
    }
    
    .benefcios .conteudo{
        width: 60vw;
    }
    
    .benefcios .texto{
        margin-left: 2vw;
    }

    .benefcios img {
        margin-left: 4vw;
        width: calc(var(--tamanho-img) * 25vw);
    }

    .ex_acoes {
        padding:  2.5vw 5vw;
    }
    
    .ex_acoes .lista {
        grid-row-gap: 5vw;
        margin-top: 3vw;
    }

    .ex_acoes .itens.txt_125{
        margin-top: 5vw;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: auto;
    }
} 

    /* ultra wide */
/* @media (min-width: 1440px ) and (max-height: 550px){
    .template {
        background-color: rgb(12, 245, 90);
    }
} */