/* ações sustentaveis */

.acoes_susten,
.aplicar_acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75vw;
    background-color: var(--cor-principal);
}

.acoes_susten .conteudo,
.aplicar_acoes .conteudo {
    flex-basis: 60vw;
    border-radius: 1vw;
    background-color: var(--cor-segundaria);
    padding: 2.5vw;
}

/* como aplicar as ações */

.aplicar_acoes .conteudo {
    width: 65vw;
}

/* impactos */

.impactos {
    position: relative;
    padding: 2.25vw 10vw;
    background-color: var(--cor-principal);

}

.impactos .lista {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1vw;
    padding: 1.75vw 3vw;
    background-color: var(--cor-segundaria);
    border-radius: 1vw;
    text-align: center;
}

.impactos .titulo {
    grid-column-start: 1;
    grid-column-end: 4;
}

.impactos .itens {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    grid-row: 2;
}

.impactos img {
    padding-bottom: 1vw;
    width: calc(var(--tamanho-img) * 17vw);
    border-radius: 1vw;
}

/* tablet */
/* @media (max-width: 850px) {
    .template {
        background-color: red;
    }
} */

/* celular  */
@media (max-width: 500px) {

    .acoes_susten,
    .aplicar_acoes {
        padding: 4vw 0;
    }

    .acoes_susten .conteudo,
    .aplicar_acoes .conteudo {
        flex-basis: 90vw;
        padding: 2.5vw;
    }

    .acoes_susten .texto,
    .aplicar_acoes .texto {
        margin-left: 1.75vw;
    }

    .impactos {
        padding: 4vw;
        background-color: var(--cor-principal);
    }

    .impactos .lista {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: calc(var(--font-size-js) * 3vw);
        padding: 1.75vw;
        justify-content: center;
    }

    .impactos .itens:not(.impactos .itens:nth-child(4), .impactos .itens.txt_125 ){
        margin: auto;
        width: 40vw;
    }

    .impactos .itens:nth-child(4), .impactos .itens.txt_125 {
        margin: 0;
        grid-row: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 90%;
    }

    .impactos img {
        padding-bottom: 1vw;
        width: calc(var(--tamanho-img) * 22.5vw);
    }
}

/* ultra wide */
/* @media (min-width: 1440px ) and (max-height: 550px){
    .template {
        background-color: rgb(12, 245, 90);
    }
} */