@import url("header.css");
@import url("sectionStyle_1.css");
@import url("sectionStyle_2.css");
@import url("sectionStyle_3.css");
@import url("sectionStyle_4.css");
@import url("footer.css");


:root {
  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-subtitulo: 'Roboto', sans-serif;
  --borda-menu: solid .01vw #ebc4b0;
  --cor-principal-deg: #302d2cc9;
  --font-size-js: 1;
  --tamanho-img: 1;
  /* --geral: 1; */

  /* por padrão escuro */
  /* --cor-header:rgba(25, 25, 25, 0.9); */
  --cor-principal: #302D2C;
  --cor-segundaria: #464342;
  --cor-titulo: #e4b7a0;
  --sub-titulo: #EBCCBB;
  --cor-texto: #c9c2c0;
  --borda: solid .01vw rgb(172, 170, 170);
  --background-card: url(../img/mocha-01_3eb3a5cd.jpg);
  --filtro: brightness(35%);
}

@media (prefers-color-scheme: light) {
  :root {
    /* modo claro */
    /* --cor-header: #c7c7c7; */
    --cor-principal: #c7c7c7;
    --cor-segundaria: #b6b6b6;
    --cor-titulo: #202020;
    --sub-titulo: #242424;
    --cor-texto: #2e2e2e;
    --borda: solid .01vw rgb(70, 70, 70);
    --background-card: url(../img/oatmeal-01_4e7de307.jpg);
    --filtro: brightness(50%);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.5vw;
  background-color: var(--cor-principal);
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: .575vw;
  position: fixed;
}

::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  background: rgba(184, 184, 184, 0.267);
  border-radius: .1vw;
}

::selection {
  background-color: yellow;
  color: rgb(26, 26, 26);
  -webkit-text-fill-color: black;
}

/* globais */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

* :not(.topicos, .configuracao){
  transition: background-color 1s;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content::after,
.content::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
}

.titulo {
  color: var(--cor-titulo);
  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: calc(var(--font-size-js) * 2.25vw);
  margin-bottom: 1.65vw;
}

.subtitulo {
  font-size: calc(var(--font-size-js) * 1.5vw);
  font-weight: 600;
  margin-bottom:   1vw;
  color: var(--sub-titulo);
  font-family: var(--fonte-subtitulo);
}

.texto {
  color: var(--cor-texto);
  font-family: var(--fonte-principal);
  font-size: calc(var(--font-size-js) * 1.15vw) ;
  line-height: calc(var(--font-size-js) *  2.1vw);
  font-weight: 500;
}


/* aparecer com a rolagem */
/* .conteudo{
  filter: opacity(0);
  transition: 1s ease-in-out;
}

.conteudo.scrollou{
  filter: opacity(1);
} */

/* tablet */
/* @media (max-width: 850px) {
  .titulo {
    font-size: calc(var(--font-size-js) * 3vw);
    margin-bottom: 2.5vw;
  }
  
  .subtitulo {
    font-size: calc(var(--font-size-js) * 2.25vw);
    margin-bottom:   1.75vw;
  }
  
  .texto {
    font-size: calc(var(--font-size-js) * 1.9vw) ;
    line-height: calc(var(--font-size-js) * 3vw);
  }
  
} */

/* celular  */
/* @media (max-width: 500px) {

  .titulo {
    font-size: calc(var(--font-size-js) * 5vw);
  margin-bottom: 3.5vw;
  }
  
  .subtitulo {
    font-size: calc(var(--font-size-js) * 3vw);
  margin-bottom:   2.25vw;
  }
  
  .texto {
    font-size: calc(var(--font-size-js) * 2.5vw) ;
  line-height: 4vw;
  }
  
}  */

@media (min-width: 1200px) {

  .titulo {
    font-size: calc(var(--font-size-js) * 2vw);
  margin-bottom: 2vw;
  }
  
  .subtitulo {
    font-size: calc(var(--font-size-js) * 1.35vw);
  margin-bottom:   1.5vw;
  }
  
  .texto {
    font-size: calc(var(--font-size-js) * .9vw) ;
  line-height: 1.5vw;
  background: red;
  }
  
} 
/* ultra wide */
 /* @media (min-width: 1440px ) and (max-height: 550px){
    .template {
        background-color: rgb(12, 245, 90);
    }
    .texto {
      font-size: calc(var(--font-size-js) * 89vw) ;
    line-height: 1.5vw;
    }
} */